$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-teal: #17a2b8;
$color-black: #4d4d4d;
$color-transparent-black: rgba(0, 0, 0, 0.5);

body{
    font-family: "Open Sans", sans-serif; 
}

h1, h2, h3 {
    font-family: "Lobster", cursive; 
}

h2{
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
}

footer {
    background-image: linear-gradient($color-transparent-black, $color-black);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right,$color-transparent-black, $color-primary, $color-dark);
    color: white; 
}

.row-content {
    background-color:$color-transparent-black;
    color: white;
    padding: 50px 0; 
    border-bottom: 1px ridge; 
    min-height: 200px; 
}

.navbar {
    background-color: $color-transparent-black;
}

.carousel-caption {
    background-color:$color-transparent-black;
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton{
    position: absolute;
    right: 0;
    bottom: 0;
}
#reserveModal{
    .modal-header{
        background-color: $color-teal;
        color: white;
    }
}

#loginModal{
    .modal-header{
        background-color: $color-mid;
        color: white;
    }
}

// ----------------------- Dark Switch

#dSwitch {
    padding: 0, 0, 2em, 0;
}

.darkMode {
    background-color: #343a40;
    color: #901CAD;
}
/*------TOGGLE--------*/
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#darkSwitch {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+#darkSwitch {
    background: #901CAD;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 13px;
}


//--------------Parallax
.parallax {
    /* The image used */
    background-image: url("../img/PCTSOBO.jpg");
  
    /* Set a specific height */
    height: 100px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }